@import '../layout/_content';
@import '../layout/_hacks';
@import '../abstracts/_variables';
a:hover,
a:visited,
a:link,
a:active {
    color: $cv_dark_grey;
    text-decoration: none;
}

.contact-me-container {
    @extend .content-float-container;
    display: flex;
    flex-direction: column;
}

.contact-me-page-container {
    div,
    h2 {
        margin-top: 30px;
    }
}

.contact-icon-header,
.contact-me-subheader-container,
.contact-me-badge-item-container,
{
    @extend .position-horizontal-centered;
}

.contact-me-subheader-container {
    margin-top: 70px !important;
    font-size: 1.1rem;
    color: $cv_dark_grey;
}

.contact-info-container {
    @extend .scale-item;
    height: auto;
    width: 50px;
    background-color: white;
    border-radius: 10px;
    @extend .position-horizontal-centered;
}

.contact-info-container:hover {
    background-color: $cv_dark_bluegrey;
    color: $cv_light_grey;
    @extend .scale-item:hover;
}

.contact-method-container {
    display: flex;
    flex-direction: row;
}

.contact-me-badge-item-container {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 200px;
}

.contact-me-badge-item-container>span {
    margin-top: 15px;
    text-align: center;
    display: block;
}

.image-container {
    height: 128px;
    background-repeat: no-repeat;
    width: 128px;
    @extend .position-horizontal-centered;
}

.linked-in-badge {
    @extend .image-container;
    background-image: url('../../assets/images/linkedin.png')
}

.github-badge {
    @extend .image-container;
    background-image: url('../../assets/images/github.png')
}

.email-badge {
    @extend .image-container;
    background-image: url('../../assets/images/email-icon.png')
}