@import '../abstracts/_mixins';
@import '../abstracts/_variables';
@import '../abstracts/_colors';
@import '../layout/_hacks';
@import '../layout/_content';
.experience-component-container {
    @extend .content-float-container;
}

.association-header-container {
    @extend .position-vertical-centered;
    top: 5%;
    position: relative;
    height: 125px;
    width: 125px;
    padding: 5px;
}

.association-header {
    height: 100px;
    width: 100px;
    @extend .position-horizontal-centered;
}

.circle-picture {
    border-radius: 50px;
}

.safeway-img {
    @extend .circle-picture;
    @include background(#{map-get($image_urls, exp-safeway)});
}

.gnx-img {
    @extend .circle-picture;
    @include background(#{map-get($image_urls, exp-gnx)});
}

.ntt-img {
    @extend .circle-picture;
    @include background(#{map-get($image_urls, exp-ntt)});
}

.inf-img {
    @extend .circle-picture;
    @include background(#{map-get($image_urls, exp-inf)});
}

.cap-img {
    @extend .circle-picture;
    @include background(#{map-get($image_urls, exp-cap)});
}

.hdc-img {
    @extend .circle-picture;
    @include background(#{map-get($image_urls, exp-hdc)});
}

.header-container {
    padding: 10px;
    top: 2%;
    position: relative;
    @extend .position-horizontal-centered;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 200px;
    @extend .light_grey_border;
    border-radius: 25px;
}

.minor-gap {
    width: 10px;
}

.association-info-container {
    @extend .position-horizontal-centered;
    @extend .position-vertical-centered;
    text-align: center;
    height: 100px;
    .org-name {
        height: 35px!important;
        font-size: 1rem;
        font-weight: semi-bold;
    }
    .date-worked {
        font-size: 0.675rem;
    }
    .job-info-container {
        @extend .scale-item;
        font-size: 0.675rem;
    }
    .job-info-container:hover {
        @extend .scale-item:hover;
    }
    .role-container {
        font-size: 0.675rem;
    }
}

.association-info-container>span {
    height: 25px;
}

.work-history-container {
    margin-top: 5%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tech-list-container {
    width: 30%;
    float: left;
    @extend .light_grey_border;
    border-radius: 10px;
    margin-left: 2%;
}

.work-information-container {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    border-radius: 10px;
    text-align: center;
    @extend .light_grey_border;
    width: 60%;
    height: 250px;
}

.map-container {
    height: 100%;
    @extend .light_grey_border;
}