@import '../layout/_hacks';
@import '../abstracts/_variables';

.content-float-container {
    @extend .position-horizontal-centered;
    height: 500px;
    width: 600px;
    @include linear-gradient($cv_dark_blue, $cv_light_blue);
    border-radius: 25px;
}