@import '../abstracts/_colors';

.light_grey_border {
    border-color: $cv_dark_grey;
    border-style: solid;
    border-width: 1px;
}

.position-vertical-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.position-horizontal-centered {
    margin: 0 auto;
}

.position-element-middle-abs {
    position: absolute;
    top: 50%;
    right: 50%;
}

.scale-item{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.scale-item:hover{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}