@import './layout/_hacks';
@import './pages/_landing-page';
@import './pages/_resume-page';
@import './components/_category-selector';
@import './components/_content-component';
@import './components/_experience-component';
@import './components/_category-selector';
@import './components/_content-switcher';
@import './components/_skills-list';
@import './components/_map-component';html,
body,
.app-container {
    height: 100%;
    overflow: hidden;
    font-family: "Impact", cursive, sans-serif;
    h2{
        text-align:center;
    }
}

@import './components/_work-details';
@import './components/_contact-me';
@import './components/_education-component';

