@import '../abstracts/_mixins';
@import '../abstracts/_variables';
svg {
    position: relative;
    top: 0;
    left: 0;
}

.content-component-wrapper {
    height: 650px;
    width: 650px;
    @include linear-gradient($cv_light_blue, $cv_dark_blue);
    margin: 0 auto;
    border-radius: 25px;
}

.exit-to-main-container {
    svg {
        margin: 0 auto;
    }
}
