@import '../abstracts/_variables';
@import '../abstracts/_mixins';
@import '../layout/_hacks';
.work-details-container {
    @extend .position-horizontal-centered;
}

.work-details-header {
    text-align: center;
}

.work-details {
    text-align: left !important;
    margin: 0 50px 0 50px;
    line-height: 50px;
}

.job-title-container {
    color: $cv_dark_grey;
    font-weight: semi-bold;
    font-family: cursive;
}

.work-details-content {
    margin-top: 50px;
}
