

$cv_light_blue: #BBDEFB;

$cv_dark_blue: #0D47A1;

$cv_light_green: #C8E6C9;

$cv_dark_green: #1B5E20;

$cv_light_red: #FFCDD2;

$cv_dark_red: #B71C1C;

$cv_light_yellow: #FFF9C4;

$cv_dark_yellow: #F57F17;

$cv_light_indigo: #C5CAE9;

$cv_dark_indigo: #1A237E;