.position-vertical-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.position-horizontal-centered {
    margin: 0 auto;
}

.position-element-middle-abs {
    position: absolute;
    top: 50%;
    right: 50%;
}